/* general */

* {
  box-sizing: border-box;
}

body {
  /* box-shadow: 0px 0px 10px 10px rgba(181, 181, 181, 0.5);
   */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar */

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: white;
  padding-left: 4%;
  padding-right: 4%;
  border-bottom: 1px solid lightgray;
}

#logo {
  font-size: 28px;
  margin: 2rem 0rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#navbar-links {
  display: flex;
  justify-content: space-between;
  width: 64%;
}

.navlinks {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px 2px;
  margin: 12px;
  text-decoration: none;
  color: black;
}

.navlinks:hover {
  transition-timing-function: ease-in;
  transition: 0.25s;
  color: gold;
  border-bottom: 2px solid gold;
  cursor: pointer;
}

.navlinks:visited {
  text-decoration: none;
}

/* #iconnav {
  padding-right: 6%;
} */

.nav-icon {
  height: 20px;
  width: 20px;
}

.iconlinks {
  padding: 0 10px;
}

.nav-icon:hover {
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: scale(1.5);
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 5%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.toggle-button:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .toggle-button {
    display: flex;
  }

  #navbar-links {
    display: none;
    width: 100%;
  }

  #nav {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar-links {
    flex-direction: column;
    width: 100%;
  }

  #pagenav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navlinks {
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    padding: 1rem 0.5rem;
    margin: 0;
  }

  .navlinks:hover {
    background-color: #f9f9f9;
    border: none;
  }

  #iconnav {
    display: none;
  }

  #navbar-links.active {
    display: flex;
  }
}

/* home */

.title {
  font-size: 50px;
  text-align: center;
}

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 0px;
}

#entry {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 2rem;
  font-weight: 400;
  margin: 5%;
}

#hero {
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 400%;
  font-weight: 800;
  margin: 6%;
}

#sidekick {
  align-self: flex-end;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 2rem;
  font-weight: 400;
  margin: 6%;
}

#home-border-1 {
  display: flex;
  align-self: flex-start;
  background: rgb(255, 203, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 203, 0, 1) 0%,
    rgba(250, 239, 87, 1) 55%,
    rgba(255, 248, 200, 1) 100%
  );
  width: 100%;
  height: 5px;
}

#home-border-2 {
  align-self: flex-end;
  background: rgb(255, 203, 0);
  background: linear-gradient(
    -90deg,
    rgba(255, 203, 0, 1) 0%,
    rgba(250, 239, 87, 1) 55%,
    rgba(255, 248, 200, 1) 100%
  );
  width: 100%;
  height: 5px;
}

/* about */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

#about h1 {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
}

#hi-my-name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
}

#bio-container {
  display: flex;
  width: 900px;
}

#bio {
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 500;
}

.bio-icon {
  width: 50px;
  height: 50px;
}

#left-bio-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

#right-bio-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

#about h2 {
  text-transform: uppercase;
  text-align: center;
}

#technologies {
  width: 900px;
  padding-top: 120px;
}

#technologies .title {
  margin-bottom: 15px;
}

#both-tech-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#left-tech-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-tech-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tech-container {
  border: 2px solid black;
  margin: 5px 5px;
  min-width: 200px;
}

.tech-title {
  /* border: 1px solid black; */
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.tech-icon-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 19px 10px;
  justify-content: space-evenly;
}

.tech-icon {
  height: 90px;
  width: 90px;
}

#express-icon {
  height: 25px;
  width: 80px;
}

/* tooltip */

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 65px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -65px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* works */
#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.project-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 550px;
  border: 2px solid gray;
  margin: 3rem;
  border-radius: 2rem;
}

.project-title {
  width: 110px;
  height: 110px;
  position: relative;
  top: -30px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 2rem;
}

.project-bio {
  text-align: justify;
  width: 350px;
  position: relative;
  top: -30px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.project-bio #tech1 {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.project-bio #tech2 {
  text-align: justify;
}

.project-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.source-code {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #333333;
  border-radius: 50px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
}

.source-code:visited {
  text-decoration: none;
  color: black;
}

.source-code:hover {
  background-color: yellow;
}

.tech-stack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 350px;
  height: 100px;
  position: relative;
  top: -50px;
}

.tech-stack-icons {
  align-self: center;
}

/* resume */
#resume {
  padding-left: 300px;
}

.resume-btn {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  border: 3px solid #333333;
  margin: 0px 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

#footer-icons {
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin: 0;
}

footer h5 {
  margin: 0;
  padding: 20px;
  /* border-top: 1px solid black; */
}

@media (max-width: 900px) {
  #logo {
    font-size: 20px;
    margin: 1rem 0rem;
  }

  #hero {
    font-size: 50px;
  }

  #about {
    padding-top: 65px;
  }

  .title {
    font-size: 35px;
    overflow-wrap: break-word;
  }

  #bio-container {
    width: 350px;
  }

  #left-bio-icons {
    display: none;
  }

  #right-bio-icons {
    display: none;
  }

  #bio {
    font-size: 15px;
  }

  #resume {
    padding: 20px 0px;
  }

  #technologies {
    padding-top: 65px;
    width: 375px;
  }

  #both-tech-container {
    flex-direction: column;
    /* align-items: center; */
  }

  .tech-container {
    width: 365px;
  }

  #works {
    padding-top: 65px;
  }

  #project-list {
    width: 375px;
  }
  .project-container {
    width: 365px;
    margin: 3rem 0rem;
  }

  .project-bio {
    width: 325px;
  }

  .tech-stack {
    width: 325px;
  }
}
