/* general */

* {
  box-sizing: border-box;
}

body {
  box-shadow: 0px 0px 10px 10px rgba(181, 181, 181, 0.5);
  overflow-y: visible;
}

/* navbar */

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

#navbar-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.navlinks {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px 2px;
  margin: 12px;
  text-decoration: none;
}

.navlinks:hover {
  color: gold;
  border-bottom: 2px solid gold;
  cursor: pointer;
}

#iconnav {
  padding-right: 10px;
}

.iconlinks {
  padding: 0 10px;
}

.iconlinks:hover {
  opacity: 50%;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .toggle-button {
    display: flex;
  }

  #navbar-links {
    display: none;
    width: 100%;
  }

  #nav {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar-links {
    flex-direction: column;
    width: 100%;
  }

  #pagenav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navlinks {
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    padding: 1rem 0.5rem;
    margin: 0;
  }

  .navlinks:hover {
    background-color: #f9f9f9;
    border: none;
  }

  #iconnav {
    display: none;
  }

  #navbar-links.active {
    display: flex;
  }
}

/* home */

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#entry {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 7%;
}

#hero {
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 100px;
}

#sidekick {
  align-self: flex-end;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 10%;
}

#home-border-1 {
  display: flex;
  align-self: flex-start;
  background: rgb(255, 203, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 203, 0, 1) 0%,
    rgba(250, 239, 87, 1) 55%,
    rgba(255, 248, 200, 1) 100%
  );
  width: 300px;
  height: 5px;
}

#home-border-2 {
  align-self: flex-end;
  background: rgb(255, 203, 0);
  background: linear-gradient(
    -90deg,
    rgba(255, 203, 0, 1) 0%,
    rgba(250, 239, 87, 1) 55%,
    rgba(255, 248, 200, 1) 100%
  );
  width: 300px;
  height: 5px;
}
