/* general */

body {
  box-shadow: 0px 0px 10px 10px rgba(181, 181, 181, 0.5);
  overflow-y: visible;
}

/* navbar */

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

.navlinks {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0 10px;
}

#iconnav {
  padding-right: 10px;
}

.iconlinks {
  padding: 0 10px;
}

/* home */

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#entry {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 75px;
}

#hero {
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62px;
  font-weight: 800;
  margin: 100px;
}

#sidekick {
  align-self: flex-end;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 100px;
}

#home-border-1 {
  display: flex;
  align-self: flex-start;
  background: rgb(255, 203, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 203, 0, 1) 0%,
    rgba(250, 239, 87, 1) 55%,
    rgba(255, 248, 200, 1) 100%
  );
  width: 300px;
  height: 5px;
}

#home-border-2 {
  align-self: flex-end;
  background: rgb(255, 203, 0);
  background: linear-gradient(
    -90deg,
    rgba(255, 203, 0, 1) 0%,
    rgba(250, 239, 87, 1) 55%,
    rgba(255, 248, 200, 1) 100%
  );
  width: 300px;
  height: 5px;
}
